* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif !important;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: white; 
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: white;
}

.navigate {
    display: flex;
    flex-direction: row;
    padding-left: 56px;
}

.navigate a {
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 500;
    color: #000;
    border-radius: 32px;
    transition: all 0.4s;
}

.navigate a:hover {
    background-color: #CDDBF4FF;
    color: #2584ff;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    font-family: sans-serif;
    color: black;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.contact {
    padding: 9px 25px;
    background-color: #2584ff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-style: none;
    color: white;
}

.section-1 {
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    background-color: white;
    padding-bottom: 40px;
    clip-path: polygon(0 0,100% 0,100% 95%,0 100%);
}

.text1 {
    flex-direction: column;
    color: black;
    padding-top: 50px;
    padding-right: 10%;
    padding-left: 25px;

}

.text1 h1 {
    font-size: 64px;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.text1 h1 u {
    color: #2584ff;
}

.text1 h3 {
    padding-bottom: 30px;
    color: #67718e;
    font-weight: 300;
}

.text1 button {
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2584ff;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.wizard img {
    width: 80%;
    height: auto;
    padding-top: 40px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.card {
    background-color: lightgray;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 20px;
    box-shadow: 5px;
    width: 49%;
} */

.cards-holder {
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
}

.cards-holder h2 {
    padding-bottom: 10px;
    font-family: sans-serif;
}

.card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
   /* transition: 0.3s; */
    width: 100%;
   /* border-radius: 5px; */
    min-width: 300px;
    margin-top: 15%;
  }
  
.container {
    padding: 2px 16px;
  }

.card img {
    width: 10%;
    height: auto;
}

footer {
    border-top: 3px #000 solid;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 5%;
    padding-left: 100px;
    justify-content: space-between;
    padding-right: 100px;
    padding-bottom: 180px;
}

footer h3 {
    font-family: sans-serif;
    padding-bottom: 20px;
    font-size: 54px;
    margin-right: 15%;
    margin-left: 15%;
    color: #000;
}

footer button {
    margin-right: 35%;
    margin-left: 35%;
    padding: 15px;
    background-color: #2584ff;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}

footer h2 {
    color: #000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 5%;
    width: 100%;
}

.card-text h2 {
    padding-bottom: 10%;
}

.our-services {
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    color: black;
}

.p1 {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.42857143;
}

.services-sub {
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: lightgray;
    text-align: center;
    margin-bottom: 5%;
}

.p2 {
    font-size: 18px;
    line-height: 1.42857143;
    padding-bottom: 25px;
}

.card-text button {
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2584ff;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.get-started-section {
    padding: 80px 5%;
}

.get-started {
    width: 100%;
    max-width: 588px;
    grid-row-gap: 32px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    display: flex;
}

.get-started a {
    text-decoration: none;
}

.get-started h6 {
    color: #5167f6;
    text-align: center;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.8vh;
}

.get-started h3 {
    color: #000;
    letter-spacing: -.04em;
    font-size: 48px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
}

.get-started button {
    background-color: #2584ff;
    border: 2px solid #2584ff;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: all .3s;
    display: flex;
    color: #fff;
    cursor: pointer;
    text-decoration: none !important;
}

.get-started button:hover {
    background-color: #fff;
    color: #2584ff;
}

.get-started p {
    color: #000;
    letter-spacing: -.02em;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.8;
}

.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background-color: #2584ff;
    border: none;
    border-radius: 50%;
    padding: 3%;
}

.cards-holder1 {
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row-reverse;
}

.fixed img {
    width: 100%;
    height: auto;
}

.twitter-follow-button {
    display: flex;
    align-items: center;
    border-radius: 5%;
    background-color: white;
    border: none;
    height: 32px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #1DA1F2;
    margin-right: 20px;
}

.twitter-follow-button-img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 15%;
}

.result {
    display: flex;
    flex-direction: column;
}

.result div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.result div h3 {
    font-size: 44px;

}

.how-it-works {
    padding-bottom: 10%;
    padding-right: 25px;
    padding-left: 25px;
}

.hiw-intro h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 24px;

}

.hiw-intro p{
    max-width: 600px;
    color: #67718e;
    letter-spacing: -.02em;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.hiw-intro button {
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2584ff;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 18px;
}

.steps {
    display: grid;
    column-gap: 32px;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr;
}

.step {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 1px solid #f2f3f8;
    border-radius: 20px;
}

.step p {
    font-size: 18px;
    line-height: 30px;
    color: #67718e;
    letter-spacing: -.02em;
}

.money {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 150px;
    padding-top: 80px;
}

.money-text {
  text-align: center;
}

.money-text h1 {
    color: #000;
    letter-spacing: -.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 56px;
}

.money-text p {
    color: #2584ff;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
}

.money-pic {
    display: grid;
    column-gap: 32px;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
}

.money-pic div {
    border: 1px solid #e0e3de;
    padding: 24px;
    border-radius: 8px;
}

.money-pic h4 {
    padding-bottom: 12px;
    color: #2584ff;
}

.money-pic img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;

}

.faq-section {
    padding-bottom: 0%;
}

.wrapper {
    max-width: 75%;
    margin: auto;
  }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
    font-size: 55px;
  }
  
  .accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-radius: 20px;
  }
  
  .accordion img {
    width: 1.6rem;
    height: auto;
  }
  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    border-radius: 20px;
  }
  .faq.active {
    border: none;
  }

.faq-button {
    padding: 9px 25px;
    background-color: #2584ff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-style: none;
    color: white;
}

.faq-btn-div {
    display: flex;
    justify-content: center;
}

.step-number {
    width: 60px;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    color: #fff;
    background-color: #2584ff;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    padding: 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    display: flex;
}

.inquiry {
    background-color: #1f2937;
    background-image: none;
    background-position: 70% 0;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 80px;
}

.inquiry button {
    padding: 12px 32px;
    background-color: #2584ff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-style: none;
    color: white;
}

.banner {
    display: flex;
    align-items: center;
}

.banner img {
    margin-right: 32px;
    max-width: 100%;
    vertical-align: middle;
    width: 80px;
    height: 80px;
}

.banner div {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.socials {
    display: flex;
    flex-direction: column;
}

.socials p {
    color: #2584ff;
    text-align: center;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.8vh;
}

.socials div {
    margin: 0;
}

.official-contacts {
    color: #2584ff;
    text-align: center;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.8vh;
}

.official-contacts p {
    padding-bottom: 18px;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.social-links a {
    height: 32px;
    width: 32px;
}

.twitter-follow-button-footer {
    padding: 6px 6px;
    background-color: #1DA1F2;
    border-radius: 50%;
    border: none;
    height: 32px;
    margin: 0;
    margin-top: 16px;
}

.twitter-follow-button-footer img {
    height: 20px;
    width: 20px;
    margin: 0;
}

.gumroad {
    background-color: none;
    padding: 0;
    border: none;
    height: 32px;
    width: 32px;
    margin: 0%;
    margin-top: 16px;
}




.gumroad img {
    height: 32px;
    width: 32px;
}

@media only screen and (min-width: 1024px) {
    .text1 {
        padding-left: 10%;
        padding-top: 10%;
    }
    .how-it-works {
        padding-right: 10%;
        padding-left: 10%;
    }
    .money {
        padding-left: 10%;
        padding-right: 10%;
    }
    .inquiry {
        max-width: 75%;
        margin: auto;
        margin-top: 36px;
    }
}

@media only screen and (min-width: 600px) {
    .fixed {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .section-1 {
        flex-direction: column;
    }
    .text1 {
        padding-right: 25px;
        display: flex;
        justify-content: center;
    }
    .wizard {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .wizard img {
        padding-top: 5%;
    }

    .cards-holder {
        display: flex;
        flex-direction: column;
    }
    .cards-holder1 {
        display: flex;
        flex-direction: column;
    }
    .get-started {
        flex-direction: column;
        padding: 2rem;
    }
    footer p {
        margin-left: 15%;
        margin-right: 15%;
    }
    footer button {
        margin-left: 20%;
        margin-right: 20%;
    }
    footer {
        margin-top: -70px;
        padding-top: 16%;
        flex-direction: column;
        padding-left: 25px;
        padding-right: 25px;
    }
    .card-text{
        padding: 0;
    }
    nav  {
        display: none;
    }
    header {
        justify-content: center;
    }
    footer h3 {
        padding-left: 0;
        padding-right: 0;
        margin-left: 10%;
        margin-right: 10%;
    }
    .steps {
        grid-template-columns: 1fr;
    }
    .results {
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        padding-bottom: 10%;

    }
    
    .result {
        padding-bottom: 20%;
    }

    .result p {
        display: flex;
        justify-content: center;
    }
    .twitter-follow-button-footer {
        margin-bottom: 30px;
    }
    .navigate {
        display: none;
    }
    .money-pic {
        grid-template-columns: 1fr;
    }
    .wrapper {
        max-width: 100% !important;
        margin-left: 25px;
        margin-right: 25px;
    }
    .wrapper > h1 {
        font-size: 32px;
    }
    .inquiry {
        flex-direction: column;
    }
    .text1 {
        text-align: center;
    }
    .text1 button {
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .wizard img {
        padding-top: 20%;
    }
}

@media only screen and (max-width: 685px) {
    .wizard img {
        padding-top: 25%;
    }
}

@media only screen and (max-width: 480px) {
    .wizard img {
        padding-top: 15%;
    }
}

@media only screen and (min-width: 930px) {
    .cards-holder .card-text{
        padding-left: 4%;
    }
}

@media only screen and (max-width: 420px) {
    .text1 h1 {
        font-size: 48px;
    }
}

@media only screen and (max-width: 335px) {
    .text1 h1 {
        font-size: 38px;
    }
}